@media screen and (max-width:1200px) {
    .navbar{
        width: 90%;
    }
}
@media screen and (max-width:950px) {
    .title__details span:nth-child(2){
        font-size: 4rem;
    }
    .title__details span:nth-child(1){
        font-size: 1.8rem;
    }
    .toggler{
        display: flex;
        cursor: pointer;
    }
    .nav__menu{
        width: 100%;
        display: none;
        order: 2;
    }
    .nav__search{
        order: 3;
        display: none;
    }
    .nav__search.hasShown{
        display: flex;
        width: 50%;
        justify-content: center;
    }
    .search{
        width: 100%;
    }
    .nav__menu ul{
        flex-direction: column;
        row-gap: 1rem;
    }
    .nav__menu ul li{
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
        padding: 1rem 0;
    }
    .nav__menu.hasShown{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
    }
    .quick-info{
        width: 50%;
        justify-content: center;
    }
    .quick-info i{
        font-size: 3rem !important;
    }
    .preview__info{
        row-gap: 3rem;
    }
    .collection__boys , .collection__girls{
        width: 100% !important;
    }
    .baby__context > span{
        font-size: 2.5rem !important;
        text-align: center !important;
    }
    .babytransform{
        width: 180px !important;
        margin-left: 3rem !important;
    }
}
@media screen and (max-width:800px) {
    .navbar{
        width: 100%;
        padding: 1.5rem;
    }
}
@media screen and (min-width:1400px) {
    body{
        width: 1400px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 780px){
    .head__title{
        flex-direction: column;
        align-items: center;
        row-gap: 5rem;
    }
    .title__details{
        align-items: center;
        text-align: center;
    }
    .title__imgs{
        width: 350px;
    }
    .title__imgs img{
        height: 80%;
    }
}
@media screen and (max-width: 461px){
    .quick-info{
        width: 100%;
        box-shadow: 0px 2px 2px rgba(213, 210, 210, 0.15);
        padding: 1rem 0;
    }
    .girls__photo , .boys__photo , .babiesContext img{
        display: none;
    }
    .girls__context , .boys__context{
        text-align: center !important;
        align-items: center !important;
    }
}